html, body{
 text-align:center;
 height:100%;
 margin:0%;
}
 
nav.topMenu{
    background-color:grey;
    width:100%;
    height:30px; 
    position:fixed; 
    z-index:1000; 
    text-align:center;
 }


img#myMainPagePic{
 height:100%;
 width:auto;
}

#mainPageSectionOne{
    background-color:tan;
}

#mainPageSectionTwo{
 background-color:teal;
 margin-left: 15%;
 width: 70%;
 
}

#mainPageSectionThree{
    background-color:blue;
}

#mainPageSectionFour{
    background-color:purple;
}

#mainPageSectionFive{
    background-color:orange;
}

#mainPageSectionSix{
    background-color:green;
}

form{
 background-color:cornsilk;
 border:4px;
 width:50%;
 height:50%;
 border-style:solid;
 border-color:black;
 text-align:center;
 display:inline-block;
 padding: 50px;
 border-radius:25px;
 
}


input{
 height:20px;
}

input.submitButtonFormButton{
 width:50%;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}

#contactMeTop{
 height:25%;
 display: flex;
 justify-content: center;
 align-items: center;
}

#contactMeMid{
 margin-left:10%;
 margin-right: 10%;
 height:70%;
 width:80%;
 display: flex;
 justify-content: center;
 align-items: center;
 border-left: thick solid; 
 border-right: thick solid;
 border-top: thick solid;
 border-width: 10px;
 border-color: tan;
 background-color: antiquewhite;
}

#contactMeFoot{
 height:5%;
 display: flex;
 justify-content: center;
 align-items: center;text-align:center;
 background-color:tan;
}

.contactMeFormButton{
 width:100%
}

.messageTextFormButton{
 width:100%;
 height: 100%;
 resize: none;
}

td{
 text-align:center;
}

table{
 width:100%;
 height:100%
}

tr.nonMessageRow {
 height: 5%;
}

tr.messageRow{
 height: 100%;
}

#imageDiv{
 vertical-align:top;
 height:70%;
}
