html, body{
 text-align:center;
 height:100%
}
 
 nav.topMenu{
    background-color:grey;
    width:100%;
    height:30px; 
    position:fixed; 
    z-index:1000; 
    text-align:center;
 }

#mainPageSectionOne{
    background-color:tan;
}

#mainPageSectionTwo{
    background-color:teal;
}

#mainPageSectionThree{
    background-color:blue;
}

#mainPageSectionFour{
    background-color:purple;
}

#mainPageSectionFive{
    background-color:orange;
}

#mainPageSectionSix{
    background-color:green;
}

form{
 background-color:cornsilk;
 border:4px;
 width:30%;
 border-style:solid;
 border-color:black;
 text-align:center;
 display:inline-block;
 padding: 50px;
 border-radius:25px;
 
}

label{
  border-radius:25px;
}

input{
  border-radius:25px;
 height:20px;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}

#contactMeTop{
 height:20%;
 text-align:center;
 background-color:pink;
}

#contactMeMid{
 height:70%;
 width:60%;
 text-align:center;
 background-color:black;
}

#contactMeFoot{
 height:auto;
 text-align:center;
 background-color:tan;
}
